.logo-container {
  padding: 2%;
  border: 1px solid gray;
  background-color: #221f20;
  text-align: center;
}
.mv__heading {
  background-attachment: fixed;
  /* background-position:center; */
  width: 100%;

  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* border-radius: 2%; */
  box-shadow: 0px 16px 24px rgb(0 0 0 / 8%);
}
.logo-reset {
  width: 10%;
}
.welcome {
  font-size: 20px;
  margin-right: 2%;
}
.signin {
  width: 63%;
  font-size: 25px;
  padding: 2%;
  background-color: #f9fafb;
  border: none;
  color: #7b7c7c;
}
.resetPass-container {
  background-color: none;
}

.login-form-button-repass {
  width: 63%;
  height: 15%;
  background-color: #00d5fa;
}

.img-robot {
  width: 70%;
  height: 100%;
}
.resetpass {
  margin: auto;
  background-color: none;
}
.ant-btn {
  height: 50px;
}
.or-title {
  color: white;
}
.input {
  height: 100%;
}
